*{
  margin: 0;
  padding: 0;
  border: none;
}

.hidden {display: none;}

body {
  background-image: url(../images/background.jpg);
  color: white;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 100%;
}

.type {margin-top: 12px;}

.type-wrapper {
  background-color: #000;
  width: 530px;
  border: thin solid white;
  margin: 0 auto;

  position: relative;
}

svg {width: 100%;}

.controls {text-align: center;}

.controls button {
  padding: 20px;
  cursor: pointer;
  margin-top: 1.5em;
  border-radius: 1em;
}

#type-layout path { opacity: 0; }

.text-anim { animation: fade-text1 5s forwards; }

.text-3 {animation: fade-text1 3s forwards;}

.no {animation: fade-text1 1s forwards;}

.text-4 {animation: fade-text1 3s forwards;}

.Darth {animation: fade-text1 7s forwards;}

.zoom {animation: zoom 5s forwards;}

.Luke-animation {animation: luke-a 5s forwards;}

.Hand-animation {animation: hand-a 3s forwards;}

.project-header { margin: 30px 0 10px; font-size: 2em; }

.project-header, .project-subhead { text-align: center; }

.zoom-tony { animation: zoomtony 2.5s forwards; animation-delay: 2s; }

.container-turn { animation: turncontainer 0.2s linear 0.5s forwards, turnagain 0.3s linear 1s forwards, resetcontainer 1s linear 4s forwards; }


/* add out individual animation delay rules */

#wanna { animation-delay: 0.25s; }

#Text1 {
  animation-delay: 1.2s;
  margin-left: 20px;
  height: 500px;
  width: 500px;
  opacity: 0;
}

#Darth {
  position: absolute;
  animation-delay: 1.2s;
  top: 250px;
  left: 20px;
  width: 200px;
  height: 200px;
  opacity: 0;
}

#Luke {
  animation-delay: 5s;
  position: absolute;
  top: 50px;
  left: 220px;
  width: 450px;
  height: 350px;

  opacity: 0;
}

#Text2 {
  animation-delay: 5s;
  position: absolute;
  top: 0px;
  left: 20px;
  width: 350px;
  height: 500px;
  opacity: 0;
}

#Text3 {
  animation-delay: 10s;
  position: absolute;
  top: 0px;
  left: -40px;
  width: 350px;
  height: 500px;
  opacity: 0;
}

#Hand {
  animation-delay: 10s;
  position: absolute;
  top: 150px;
  left: 300px;
  width: 250px;
  height: 500px;
  opacity: 0;
}

#No {
  animation-delay: 12s;
  position: absolute;
  top: 100px;
  left: 20px;
  width: 250px;
  height: 500px;
  opacity: 0;
}

#No2 {
  animation-delay: 22s;
  position: absolute;
  top: 100px;
  left: 20px;
  width: 250px;
  height: 500px;
  opacity: 0;
}

#Text4 {
  animation-delay: 13s;
  position: absolute;
  top: 50px;
  left: 220px;
  width: 300px;
  height: 500px;
  opacity: 0;
}

#Text5 {
  animation-delay: 24s;
  position: absolute;
  top: 50px;
  left: 20px;
  width: 300px;
  height: 500px;
  opacity: 0;
}

#Text6 {
  animation-delay: 27s;
  position: absolute;
  top: -100px;
  left: 20px;
  width: 500px;
  height: 500px;
  opacity: 0;
}

#Darth2 {
  animation-delay: 13s;
  position: absolute;
  top: 0px;
  left: 50px;
  width: 200px;
  height: 300px;
  opacity: 0;
}

#Darth3 {
  animation-delay: 16s;
  position: absolute;
  top: 100px;
  left: 180px;
  width: 350px;
  opacity: 0;
}

#Luke2 {
  animation-delay: 24s;
  position: absolute;
  top: 180px;
  left: 250px;
  width: 350px;
  opacity: 0;
}

@keyframes turncontainer {
  100% {
    transform: rotate(-90deg) scale(1.5) translate(31%, -3%);
  }
}

@keyframes turnagain {
  0% {transform: rotate(-90deg) scale(1.5) translate(31%, -3%);}
  100% {transform: rotate(0deg) scale(1.2) translate(-16%, 11%);}
}

@keyframes resetcontainer {
  0% {transform: rotate(0deg) scale(1.4) translate(-13%, 11%);}
  100% {transform: scale(1) translate(0, 0);}
}

@keyframes fade-text1 {
  0% {opacity: 0; }
  50% {opacity: 1;}
  100% { opacity: 0; }
}


@keyframes zoom {
  0% {opacity: 0;}
  10% {opacity: 1; transform: scale(1) rotate(20deg);}
  40% {transform: scale(1.4) rotate(0deg);}
  60% { transform: scale(1.2) rotate(20deg); }
  100% {opacity: 0; transform: scale(1) rotate(0deg); }
}

@keyframes luke-a {
  0% {opacity: 0; transform: translateX(50px);}
  10% {opacity: 1; transform: translateX(0px) scale(1) rotate(20deg);}
  40% {transform: scale(1.4) rotate(0deg);}
  60% { transform: scale(1.2) rotate(20deg); }
  100% {opacity: 0; transform: scale(1) rotate(0deg); }
}

@keyframes hand-a {
  0% {opacity: 0; transform: translateX(0px) rotate(0deg);}
  30% {opacity: 1; transform: translateX(-25px) rotate(20deg);}
  60% {transform: translateX(0px) rotate(0deg);}
  100% {opacity: 0;}
}
